ancillary_packages:
  # libs
  - gcc
  - build-essential
  - python-dev
  - python-virtualenv
  - python-setuptools
  - libpq-dev
  - libssl-dev
  - libffi-dev
  - libjpeg-dev
  - libyaml-syck-perl
  - libzmq3-dev
  # middleware
  - rabbitmq-server
  - redis-server
  - zookeeper
  - zookeeperd
  # tools
  - git
  - wget
  - curl
  - vim
  - tmux
  - tree
  - ack-grep
  - jq
pip_packages:
  - httpie
  - ipdb
  - ipython
  - redis
  - requests
  - virtualenv
postgresql_version: 9.4
postgresql_ext_install_postgis: yes
postgresql_max_prepared_transactions: 10
postgresql_databases:
  - name: vagrant
postgresql_users:
  - name: vagrant
    pass: vagrant
    encrypted: no
postgresql_user_privileges:
  - name: vagrant
    priv: "ALL"
    db: vagrant
    role_attr_flags: "SUPERUSER"
